* {
    margin: 0;
    padding: 0;
    color: #333333;
}

/* Configurações para o "corpo" do texto */

body{
    background-color: #f5f5f5;
}


/* Logo Responsiva: Alterações realizadas; */
.logo {
    width: 10%; 
    max-width: 300px; 
    height: auto; 
    margin-left: 60px;
    overflow: hidden; 
}

.logo img {
    width: 100%; 
    height: auto;
    transition: transform 0.3s ease; 
}

.logo img:hover {
    transform: scale(1.1); 
}

/* Estilos para telas menores */
@media (max-width: 768px) {
    .logo {
        width: 20%; 
        max-width: 200px; 
        margin-left: 30px;
    }
}

@media (max-width: 480px) {
    .logo {
        width: 40%; 
        max-width: 150px; 
        margin-left: 10px; 
    }
}


/* Menu das páginas: Alteração na NAV para o modelo responsivo */

nav {
    position: relative;
    z-index: 10;
    margin-bottom: 20px; /* Espaço entre o nav e a seção */
}

nav ul {
    list-style-type: none;
    margin: 0;
    margin-left: 40%;
    margin-top: -90px;
    padding: 0;
    display: flex;
    justify-content: center;
    font-family: 'Arial', serif;
}

nav ul li {
    margin: 0 5px;
}

nav ul li a {
    text-decoration: none;
    color: #333333; 
    font-size: 15px;
    font-weight: bold;
    padding: 10px 15px;
    transition: color 0.3s ease; 
}

/* Estilo para links que não são o botão de login */
nav ul li a.link:hover {
    color: #b59428; 
}

/* Estilo específico para o botão de login */
nav ul li a.login-button {
    color: #333333; 
    background-color: transparent; 
    border: 1px solid #b59428; 
    border-radius: 25px; 
    padding: 10px 15px; 
    transition: transform 0.3s ease; 
    text-decoration: none; 
}

/* Efeito de hover para o botão de login */
nav ul li a.login-button:hover {
    transform: scale(1.1);
    color: #b59428;
}


/* Estilos para mobile */
@media (max-width: 480px) {
    nav ul {
        margin-top: 0;
    }

    nav ul li a {
        font-size: 16px; 
        padding: 10px 15px; 
    }
}

/* Botão de Login */

.login-button {
    background-color: transparent; 
    color: #333333; 
    padding: 10px 20px; 
    border-radius: 25px solid #b59428; 
    transition: background-color 0.3s ease; 
}

/* Corpo do site */

.corpo {
    display: flex;
    flex-direction: column;
    max-width: 1200px;
    margin-top: 5%;
    margin-bottom: 5%;
    text-align: justify;
    padding: 20px;
    box-sizing: border-box;
    
}

/* Títulos */
.corpo h1, .corpo h2, .corpo h3 {
    font-family: Arial, Helvetica, sans-serif;
}

/* H1 */
.corpo h1 {
    text-align: center;
    margin-left: 20%;
}

/* H2 */
.corpo h2 {
    margin-top: 20px;
    margin-left: 20%;
    font-size: 17px;
}

/* H3 */
.corpo h3 {
    font-size: 20px;
    margin-top: 3%;
    margin-right: 26%;
}

/* Parágrafos */
.corpo p {
    font-size: 16px;
    margin-left: 20%;
    margin-top: 20px;
    line-height: 1.75;
}

/* Imagens */
.corpo img {
    width: 85%;
    height: auto; 
    margin-left: 17%;
    margin-top: 2%;
}

/* Estilos para telas menores */
@media (max-width: 768px) {
    .corpo {
        padding: 10px; 
    }

    .corpo h1 {
        margin-left: 0; 
        font-size: 22px; 
    }

    .corpo h2 {
        margin-left: 10%; 
        font-size: 16px;
    }

    .corpo h3 {
        margin-right: 10%;
        font-size: 18px; 
    }

    .corpo p {
        margin-left: 10%; 
        font-size: 15px; 
    }

    .corpo img {
        width: 95%; 
        margin-left: 0; 
    }
}


@media (max-width: 480px) {
    .corpo {
        padding: 5px;
    }

    .corpo h1 {
        font-size: 20px; 
    }

    .corpo h2 {
        margin-left: 5%; 
        font-size: 15px;
    }

    .corpo h3 {
        margin-right: 5%;
        font-size: 16px; 
    }

    .corpo p {
        margin-left: 5%;
        font-size: 14px;
    }

    .corpo img {
        width: 100%; 
        margin-left: 0;
    }
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
}

/* Tela de Login */

.login-container {
    background-color: #e6e6e6;
    padding: 20px;
    border-radius: 8px;
    width: 90%; 
    max-width: 400px; 
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2); 
    margin-left: auto;
    margin-right: auto;
    margin-top: auto;
    margin-bottom: auto;
}


h1 {
    text-align: center;
    margin-bottom: 20px;
    color: #333;
}

.login-form {
    display: flex;
    flex-direction: column;
}

.login-form label {
    margin-bottom: 5px;
    color: #333;
}

.login-form input {
    padding: 10px;
    margin-bottom: 15px;
    border: 1px solid #ddd;
    border-radius: 10px;
    font-size: 15px;
    font-style: italic;
}

.login-form button {
    padding: 10px;
    background-color: #d4af37;
    border: none;
    border-radius: 10px;
    color: #f2f2f2;
    font-size: 15px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.login-form button:hover {
    background-color: #b88a2f;
}

/* Logout */

.user-menu {
    position: relative;
    display: inline-block;
}

.user-name {
    cursor: pointer;
    padding: 10px;
    background-color: #f1f1f1;
    border-radius: 5px;
    color: #333;
}

.dropdown-content {
    display: none; /* Escondido por padrão */
    position: absolute;
    background-color: #f9f9f9;
    min-width: 120px;
    box-shadow: 0px 8px 16px rgba(0, 0, 0, 0.2);
    z-index: 1;
    margin-top: 5px;
    border-radius: 5px;
}

.dropdown-content a {
    color: black;
    padding: 10px 15px;
    text-decoration: none;
    display: block;
}

.dropdown-content a:hover {
    background-color: #f1f1f1;
}

/* Estilo da seta */
.arrow-down {
    border: solid black;
    border-width: 0 3px 3px 0;
    display: inline-block;
    padding: 3px;
    margin-left: 5px;
    transform: rotate(45deg);
}

.arrow-down.up {
    transform: rotate(-135deg); /* Rotação da seta quando o menu estiver aberto */
}


/*Tela de Cadastro */

.cadastro-container {
    background-color: #e6e6e6; 
    padding: 10px; 
    border-radius: 8px; 
    width: 100%; 
    max-width: 400px;
    margin-left: auto;
    margin-right: auto;
    margin-top: auto;
    margin-bottom: auto;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2); 
}

.register-prompt {
    text-align: center; 
    margin-top: 15px; 
    color: #333; 
    font-size: 14px; 
}

.register-prompt a {
    color: #d4af37; 
    text-decoration: none; 
    font-weight: bold; 
}

.register-prompt a:hover {
    text-decoration: underline; 
}

.select-container {
    margin-top: 15px; 
}

.select-container label {
    display: block; 
    margin-bottom: 5px; 
    color: #333; 
    font-size: 14px; 
    
}

.select-container select {
    width: 100%; 
    padding: 10px; /* Espaçamento interno */
    border: 1px solid #ccc; 
    border-radius: 8px; 
    background-color: #fff; 
    font-size: 14px; 
    color: #333333; 
    appearance: none; /* Remove a aparência padrão do navegador */
    background-repeat: no-repeat; 
    background-position: right 10px center; 
    background-size: 12px; 
    margin-bottom: 2%;
    font-style: italic;
}


/* Tela Artistas */
/* Artista Destaque */


.artistas-wrapper {
    max-width: 1200px;
    margin: 0 auto;
    padding: 20px;
}

.artistas-section {
    display: flex;
    flex-direction: row;
    align-items: center;
    position: relative;
    flex-wrap: wrap; /* Para garantir que o layout seja responsivo */
}

.art-dest {
    flex: 1;
    min-width: 300px;
}

.art-dest img {
    width: 120%; /* A imagem se ajusta ao tamanho do contêiner */
    height: auto; /* Mantém a proporção da imagem */
    margin-top: 5%;
    margin-left: -15%;
}

.linha-vertical3 {
    position: absolute;
    left: 50%;
    top: 13%;
    bottom: 0;
    width: 4px;
    height: 80%;
    background-color: #d4af37;
    margin-left: -2%;
}

.texto-banner3 {
    flex: 1;
    text-align: left;
    font-size: 45px;
    color: #1a1919;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold;
    margin-left: 8%;
    margin-top: 5%;
}

.texto-banner3 p {
    margin-top: 3%;
    font-size: 17px;
    font-style: italic;
    text-align: justify;
    font-weight: normal;
    
}

.button-saiba-mais-tarsila {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 20px auto;
}

.button-saiba-mais-tarsila a {
    display: inline-block;
    padding: 12px 30px;
    background-color: #d4af37;
    color: #1a1919;
    text-decoration: none;
    border-radius: 25px;
    font-size: 17px;
    font-weight: bold;
    transition: background-color 0.3s ease, transform 0.3s ease;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

.button-saiba-mais-tarsila a:hover {
    background-color: #b59428;
    transform: scale(1.05);
    box-shadow: 0 6px 12px rgba(71, 71, 71, 0.3);
}

.button-saiba-mais-tarsila a:active {
    transform: scale(0.95);
    box-shadow: 0 2px 6px rgba(0, 0, 0, 0.2);
}

@media (max-width: 768px) {
    .texto-banner3 {
        font-size: 30px;
    }

    .texto-banner3 p {
        font-size: 20px;
    }

    .linha-vertical3 {
        display: none;
    }
}

/* Principais Artistas */

/* Centraliza a grid e ajusta o tamanho */
.grid-container {
    display: grid;
    grid-template-columns: repeat(3, 1fr); /* 3 colunas */
    gap: 15px; /* Espaçamento entre as divs */
    margin: 0 auto; /* Remove a margem superior e centraliza o grid */
    padding: 0 10%; /* Adiciona margem de 15% nas laterais */
    max-width: 1200px; /* Limita a largura máxima do grid */
}

.principais-artistas {
    margin-top: 2%; /* Reduz a margem superior da seção */
}

.container {
    position: relative; 
    background-color: #fff;
    border: 1px solid #ddd;
    border-radius: 15px;
    padding: 20px; 
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    transition: transform 0.3s;
    display: flex;
    flex-direction: column; 
    margin-bottom: 20%; /* Espaçamento inferior */
}

.container:hover {
    transform: translateY(-5px);
}

.container img {
    max-width: 100%;
    border-radius: 10px;
}

.principais-artistas h1 {
    margin-top: 7%; /* Ajuste o valor conforme necessário */
}


.text h2 {
    margin-top: 4%;
}

.text p {
    margin-top: 5%;
    text-align: justify;
}

/* Responsividade para telas menores */
@media (max-width: 1024px) {
    .grid-container {
        grid-template-columns: repeat(2, 1fr); /* 2 colunas em telas médias */
        padding: 0 10%; /* Reduz as margens laterais em telas médias */
    }
}

@media (max-width: 768px) {
    .grid-container {
        grid-template-columns: 1fr; /* 1 coluna em telas pequenas */
        padding: 0 5%; /* Margens menores em telas pequenas */
    }

    .container {
        padding: 15px;
    }

    .text h2 {
        font-size: 1.3em;
    }
}

@media (max-width: 480px) {
    .grid-container {
        grid-template-columns: 1fr; /* 1 coluna em telas muito pequenas */
        gap: 10px; /* Menor espaçamento entre as divs */
    }

    .principais-artistas .divs {
        padding: 10px;
    }

    .text h2 {
        font-size: 1.2em;
    }
}

@media (max-width: 800px) {
    .footer-col {
        width: 50%;
        margin-bottom: 30px;
    }
}

@media (max-width: 600px) {
    .footer-col {
        width: 100%;
    }
}


/* Tela Coleção */

.colecao-wrapper {
    max-width: 1200px; /* Largura máxima da div */
    margin: 0 auto; /* Centraliza a div */
    padding: 20px; /* Espaçamento interno */
}

.colecao-section {
    display: flex;
    flex-direction: row;
    align-items: center;
    position: relative;
    flex-wrap: wrap; /* Permite que os elementos se movam para a próxima linha */
}

.colecao {
    flex: 1; /* Faz a imagem ocupar o espaço disponível */
    min-width: 300px; /* Largura mínima para a imagem */
}

.colecao img {
    width: 115%; /* A imagem se ajusta ao tamanho do contêiner */
    height: 60vh; /* Mantém a proporção da imagem */
    margin-top: 5%;
    margin-left: -18%;
}

.linha-vertical2 {
    position: absolute;
    left: 50%; /* Centraliza a linha vertical */
    top: 13%;
    bottom: 0;
    width: 4px; 
    height: 80%;
    background-color: #d4af37; 
    margin-left: -2%; /* Para centralizar a linha */
}

.texto-banner2 {
    flex: 1; /* Faz o texto ocupar o espaço disponível */
    text-align: left; /* Mantém o texto alinhado à esquerda */
    font-size: 45px;      
    color: #1a1919;         
    font-family: Arial, Helvetica, sans-serif; 
    font-weight: bold;   
    margin-left: 8%; /* Espaço entre a imagem e o texto */
    margin-top: 5%;
}

.texto-banner2 p {
    margin-top: 3%;
    font-size: 30px;
    font-style: italic;
}

.texto-banner2 button {
    display: flex; 
    justify-content: center; 
    align-items: center;
    margin: 20px auto;
    padding: 12px 30px;
    background-color: #d4af37; 
    color: #1a1919; 
    text-decoration: none; 
    border-radius: 25px; 
    font-size: 17px; 
    font-weight: bold; 
    transition: background-color 0.3s ease, transform 0.3s ease; 
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2); 
    border: none; /* Removendo a borda */
}

.texto-banner2 button:hover {
    background-color: #b59428; /* Alterando a cor ao passar o mouse */
    transform: scale(1.05); /* Aumenta o tamanho do botão ao passar o mouse */
    box-shadow: 0 6px 12px rgba(71, 71, 71, 0.3); /* Sombra mais forte */
}

.texto-banner2 button:active {
    transform: scale(0.95); /* Reduz o tamanho ao clicar */
    box-shadow: 0 2px 6px rgba(0, 0, 0, 0.2); /* Sombra reduzida ao clicar */
}

@media (max-width: 768px) {
    .texto-banner2 {
        font-size: 30px; /* Tamanho da fonte em telas menores */
    }

    .texto-banner2 p {
        font-size: 20px; /* Tamanho do texto do parágrafo em telas menores */
    }

    .linha-vertical2 {
        display: none; /* Esconde a linha vertical em telas menores se necessário */
    }
}

/* Ajustando o local das obras */

/* Estilizando a lista de obras */
.obras-list {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(400px, 1fr)); /* Layout responsivo, 1 a 3 colunas */
    gap: 30px; /* Espaçamento entre as obras */
    margin: 30px 0;
}

/* Estilo para cada obra */
.obra-item {
    display: flex;
    flex-direction: column; /* Empilha imagem e texto em telas pequenas */
    background-color: #ffffff; 
    padding: 20px;
    border-radius: 12px;
    box-shadow: 0 4px 15px rgba(0, 0, 0, 0.1); 
    transition: transform 0.3s ease;
}

.obra-item:hover {
    transform: translateY(-10px); 
}

/* Imagem da obra */
.obra-imagem {
    width: 100%;
    height: 60%;
    object-fit: cover; /* Mantém o aspecto da imagem */
    border-radius: 12px;
    margin-bottom: 15px;
}

/* Informações da obra */
.obra-info {
    text-align: left;
}

.obra-titulo {
    font-size: 1.5rem;
    color: #b59428; /* Cor dourada */
    margin-bottom: 10px;
}

.obra-artista, .obra-ano, .obra-descricao {
    font-size: 1rem;
    color: #1a1919;
    margin-bottom: 8px;
}

.obra-artista strong, .obra-ano strong {
    color: #333;
}

/* Responsividade */
@media (max-width: 768px) {
    .obras-list {
        grid-template-columns: 1fr; /* Uma coluna em telas menores */
    }

    .obra-imagem {
        height: 200px;
    }
}

/* Formulário da Tela Cadastrar Nova Obra: Cadastro de Obras */

.collection-container {
    background-color: #e6e6e6; 
    padding: 20px;
    border-radius: 8px;
    width: 100%; /* Largura total */
    max-width: 600px; /* Largura máxima aumentada */
    margin-left: auto; /* Centraliza horizontalmente */
    margin-right: auto; /* Centraliza horizontalmente */
    margin-bottom: 8%;
    margin-top: 4%;
    
}

.collection-form {
    display: flex;
    flex-direction: column;
}

.collection-form label {
    margin-bottom: 5px;
    color: #333;
}

.collection-form input {
    padding: 10px;
    margin-bottom: 15px;
    border: 1px solid #ddd;
    border-radius: 10px;
    font-size: 15px;
    font-style: italic;
}

.collection-form button {
    padding: 10px;
    background-color: #d4af37;
    border: none;
    border-radius: 10px;
    color: #f2f2f2;
    font-size: 15px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.collection-form button:hover {
    background-color: #b88a2f;
}

/* Botão "Cadastrar Nova Obra" */

.novo-obra-btn {
    text-align: center; /* Centraliza o botão */
    margin-top: -6%; /* Margem superior */
    margin-right: 42%;
}

.novo-obra-btn .button {
    background-color: #b59428; /* Cor de fundo vermelha */
    color: white; /* Cor do texto */
    padding: 10px 20px; /* Espaçamento interno */
    border: none; /* Remove bordas */
    border-radius: 25px; /* Arredondar cantos */
    text-decoration: none; /* Remove sublinhado */
    font-size: 16px; /* Tamanho da fonte */
    transition: background-color 0.3s ease; /* Transição suave para hover */
    display: inline-block; /* Permite definir a largura e altura */
    cursor: pointer; /* Muda o cursor ao passar o mouse */
    margin-top: 15%;
}

/* Estilo para hover */
.novo-obra-btn .button:hover {
    background-color: #b59428c0; 
}


.novo-obra-btn .button:focus {
    outline: none; 
}


/* Botão de Excluir */
.btn-excluir {
    background-color: #dc3545; 
    color: #fff;
    border: none;
    padding: 5px 10px;
    border-radius: 3px;
    cursor: pointer;
    text-decoration: none;
    font-size: 0.9em;
    transition: background-color 0.3s ease;
}

.btn-excluir:hover {
    background-color: #c82333; 
}



  /* Tela Visitas */

  .visitas {
    font-family: Arial, sans-serif;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
    background-color: #f4f4f4;
    margin-top: -7%;
}

.calendar {
    margin-top: 5%;
    width: 350px;
    background-color: #fff;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    border-radius: 8px;
    overflow: hidden;
    margin-bottom: 20px;
    align-items: center;
    text-align: center;
    
}

.month {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px;
    background-color: #d4af37;
    color: rgb(5, 5, 5);
}

.month button {
    background-color: transparent;
    border: none;
    color: rgb(4, 4, 4);
    font-size: 20px;
    cursor: pointer;
    align-items: center;
    margin-left: 0%;
}

.weekdays {
    display: flex;
    background-color: #d4af37;
    color: white;
    padding: 10px 0;
}

.weekdays div {
    flex: 1;
    text-align: center;
    font-weight: bold;
}

.days {
    display: flex;
    flex-wrap: wrap;
    padding: 10px;
}

.days div {
    width: 14.28%;
    text-align: center;
    padding: 10px 0;
    margin-bottom: 10px;
    cursor: pointer;
}

.days div.selected {
    background-color: #d4af37;
    color: white;
    border-radius: 50%;
}

.days div:hover {
    background-color: #d4af37;
    color: white;
    border-radius: 50%;
}

#agendar-btn {
    padding: 10px;
    background-color: #d4af37;
    color: white;
    border: none;
    border-radius: 25px;
    cursor: pointer;
    font-size: 16px;
    align-items: center;
    margin-left: 0%;
    margin-bottom: -20%;
    color: #000000;
    
    
}


#mensagem {
    margin-top: 20%;
    font-size: 18px;
}

/* Tela Arte Moderna */

.banner {
    position: relative; 
    width: 100%;
     
    margin-top: 5%;
  }

  .banner img {
    height: 100%;
    width: 100%;
    object-fit: cover; 
    filter: brightness(60%);
    filter: brightness(60%) grayscale(30%); 
    object-fit: cover;
  }

  .corpo h4{
    margin-left: 20%;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 30px;
    margin-bottom: 1%;

  }

  .corpo h3{
    margin-left: 20%;
  }

  .corpo li{
    margin-left: 25%;
    
  }

  .corpo img {
    align-items: center;
    width: 50%;
    margin-left: 33%;
    border-radius: 5px;
    transition: transform 0.2s ease; /* Adiciona uma transição suave */
}

    .corpo img:hover {
        transform: scale(1.1); /* Aplica o efeito de zoom ao passar o mouse */
    }


  .linha-vertical {
    position: absolute;
    left: 5vh; 
    top: 0;
    bottom: 0;
    width: 4px; 
    height: 80%;
    align-items: center;
    background-color: #d4af37; 
    margin: 4% 0; 
    margin-left: 5%;
  }

  .texto-banner {
    position: absolute;
    top: 50%;               
    left: 12%;               
    transform: translateY(-50%);
    font-size: 30px;      
    color: #e6e6e6;         
    font-family: Arial, Helvetica, sans-serif; 
    font-weight: bold;   
   
  }

  .texto-banner1 {
    position: absolute;
    margin-top: 20%;               
    left: 10%;               
    transform: translateY(-50%);
    font-size: 30px;      
    color: #e6e6e6;         
    font-family: Arial, Helvetica, sans-serif; 
    font-weight: bold; 
  }

/* Iniciando o footer */

  footer {
    background-color: #e6e6e6;
    padding: 50px 0;
    margin-top: 2%;
}

.container-footer {
    max-width: 1400px;
    padding: 0 4%;
    margin: auto;
}

.row-footer {
    display: flex;
    flex-wrap: wrap;
}

/* Colunas do footer */
.footer-col {
    width: 25%;
    margin-bottom: 5px; 
}

.footer-col h4 {
    font-size: 16px;
    color: #333333;
    margin-bottom: 20px;
    font-weight: 500;
    position: relative;
    text-transform: uppercase;
}

.footer-col ul {
    list-style: none;
}

.footer-col ul li {
    margin: 10px 0;
}

.footer-col ul li a {
    font-size: 15px;
    text-transform: capitalize;
    color: #333333;
    text-decoration: none;
    font-weight: 300;
    display: block;
    transition: color 0.3s ease, transform 0.2s ease; 
}


/* Formulário */
.footer-col .form-sub input {
    width: 100%;
    padding: 10px;
    font-size: 15px;
    background-color: #ccc;
    border-radius: 10px;
    border: none;
    font-style: italic;
    color: #333; 
    box-shadow: none;
}

.footer-col .form-sub {
    text-align: center;
}

.footer-col .form-sub button {
    display: block;
    width: 100%;
    margin-top: 10px;
    padding: 10px;
    text-align: center;
    background-color: #d4af37;
    color: #333;
    border-radius: 10px;
    border: none;
    transition: background-color 0.3s, transform 0.2s; 
}

/* Efeito de Hover no botão */
.footer-col .form-sub button:hover {
    background-color: #b59428; 
    transform: scale(1.05); 
}

/* Ícones Sociais */
.footer-col .social-icons {
    margin-top: 20px;
}

.footer-col .social-icons a {
    display: inline-flex;
    align-items: center;
    justify-content: center;
    height: 40px;
    width: 40px;
    margin: 0 10px 10px 0;
    text-decoration: none;
    border-radius: 50%;
    color: #333333;
    border: 1px solid #333333;
    transition: background-color 0.3s ease, color 0.3s ease; 
}

/* Efeito de Hover nos ícones sociais */
.footer-col .social-icons a:hover {
    background-color: #d4af37; 
    color: white; 
}

/* Ícones */
.footer-logo img {
    width: 50%; 
    height: auto;
    transition: transform 0.3s ease; 
}

.footer-logo img:hover {
    transform: scale(1.1); 
}


.footer-col .social-icons a i {
    font-size: 20px;
}

/* Mapa */
.maps {
    margin-left: 125%;
    margin-top: -85%;
    transition: transform 0.3s ease; 
}

.maps:hover {
    transform: scale(1.05); 
}


/* Seção de contato */
.contact-section {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 15px;
    line-height: 1.75;
    margin-top: 10px;
}

/* Media queries para responsividade */
@media (max-width: 768px) {
    .footer-col {
        width: 50%; 
        margin-bottom: 20px;
    }

    .footer-col h4 {
        font-size: 14px; 
    }

    .footer-col ul li a {
        font-size: 14px; 
    }

    .footer-col img {
        width: 70%; 
    }

    .footer-col .social-icons a {
        height: 35px;
        width: 35px; 
    }

    .footer-col .social-icons a i {
        font-size: 18px; 
    }

    /* Ajustes do mapa estão no HTML */
    
}

@media (max-width: 480px) {
    .footer-col {
        width: 100%; 
        text-align: center; 
    }

    .footer-col h4 {
        font-size: 13px; 
    }

    .footer-col ul li a {
        font-size: 13px; 
    }

    .footer-col img {
        width: 90%; 
    }

    .footer-col .social-icons a {
        height: 30px;
        width: 30px; 
    }

    .footer-col .social-icons a i {
        font-size: 16px; 
    }
    
}